* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 8px;
  background-color: #1a1818;
}

*::-webkit-scrollbar-thumb {
  background: #ce93d8;
}

body {
  font-family: "Roboto";
  background-color: #363535;
}

button {
  text-transform: capitalize !important;
}

.Main-Content-Container {
  margin: 4rem 1rem;
}

.Form-Container {
  padding: 1rem;
}

.Form-Container-Inputs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.Form-Container-Btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.Tables-Container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.Cards-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1450px;
  margin: auto;
  margin-bottom: 3rem;
}

.Card-Container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 1rem;
  width: 450px;
}

.Card-Left-Container > img {
  height: 170px;
  width: auto;
  border-radius: 0.25rem;
}

.Card-Right-Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
}

.Card-Title {
  font-size: 1.45rem;
}

.Card-Title > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Card-Type {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: flex-end;
}

.Card-Desc {
  font-size: 1.3rem;
}

.Status-Label {
  font-weight: bold;
  color: black !important;
}

.Card-Btns-Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.Card-Btns-Container > svg {
  cursor: pointer;
}

.Form-Container-Inputs #id {
  width: 35px;
}

.Form-Container-Inputs #season,
.Form-Container-Inputs #current {
  width: 75px;
}

.Form-Alert {
  width: 400px;
  margin: auto;
  margin-bottom: 2rem;
}

.up-btn {
  display: none;
  position: fixed !important;
  bottom: 80px;
  right: 40px;
  z-index: 99;
}

.Loading-Container {
  display: flex;
  justify-content: center;
  margin: 3rem;
  padding-bottom: 10rem;
}
